<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>jspbook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
    <resource-ref>
    	<description>Connection</description>
    	<res-ref-name>jdbc/mysql</res-ref-name>
    	<res-type>javax.sql.DataSource</res-type>
    	<res-auth>Container</res-auth>
    </resource-ref>
    
    
    <servlet>
    	<description>속성 관리 예제</description>
    	<display-name>PropertyServlet</display-name>
    	<servlet-name>PropertyServlet</servlet-name>
    	<servlet-class>jspbook.ch12.PropertyServlet</servlet-class>
    	
    	<init-param>
    		<param-name>name1</param-name>
    		<param-value>user1</param-value>
    	</init-param>
    	<init-param>
    		<param-name>name2</param-name>
    		<param-value>user2</param-value>
    	</init-param> 
    	   	
    </servlet>
    
        <context-param>
    		<param-name>workspace</param-name>
    		<param-value>c:\dev\workspace</param-value>
    	</context-param>
    	<context-param>
    		<param-name>name3</param-name>
    		<param-value>김길동</param-value>
    	</context-param>

</web-app>