@charset "UTF-8";

		.cuerpo{
    		background-color: black;
		}

        .seat {
            width: 100px;
            height: 50px;
        }
        
        .clicked {
            background-color: red;
            color: white;
        }
        
        
        .booked {
            background-color: black;
            color: white;
        }